Source: iputils
Section: net
Priority: extra
Maintainer: Noah Meyerhans <noahm@debian.org>
Standards-Version: 3.5.4.0
Build-Depends: debhelper (>> 2)

Package: iputils-ping
Architecture: any
Provides: ping
Conflicts: ping, suidmanager (<< 0.50)
Depends: ${shlibs:Depends}
Replaces: netbase (<< 4.00)
Description: The ping utility from iputils
 The ping command sends ICMP ECHO_REQUEST packets to a host in order to
 test if the host is reachable via the network.
 .
 This package includes a ping6 utility which supports IPv6 network
 connections.  Aside from that, it is essentially functionally identical
 to the netkit-ping package.
 
Package: iputils-tracepath
Architecture: any
Suggests: traceroute
Depends: ${shlibs:Depends}
Conflicts: suidmanager (<< 0.50)
Replaces: netbase (<< 4.00)
Description: The tracepath utility from iputils
 The tracepath utility is similar to the traceroute utility, but also
 attempts to discover the MTU of the path.
 .
 This package also includes tracepath6 and traceroute6 utilities, which
 may be used on IPv6 networks.

Package: iputils-arping
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: suidmanager (<< 0.50), arping
Replaces: netbase (<< 4.00)
Description: Send ICMP echo requests to an ARP address
 The arping command acts like the standard ping command except it pings
 a machine by its ARP address instead of its IP address.  It is typically
 used to locate a machine if its hardware address is known but its IP
 address is unknown

